/* CSS for GUI...*/

#memorygame {
	display:inline-block;
}

#memorygame .faceup:before {
	content:attr(value);
}

#memorygame td.facedown {
	float: center;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	background-color: #8F00B2;
	margin: 5px;
}

#memorygame td.faceup {
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: #666666;
	margin: 5px;
}

#memorygame td.matched { /* doing this instead of dan's "missing" class */
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: #3E3E3E;
	margin: 5px;
}

#resetBtn {
	clear: both;
	display: block;
	margin: 0 auto;
	background-color: #FF6666;
}