/* CSS for GUI...*/

#memorygame {

}

#memorygame td.facedown {
	float: center; /* is this correct? probably needs more */
	width: 50px;
	height: 50px;
	border: 2px solid black;
	background-color: #8F00B2;
	margin: 5px;
}

#memorygame td.faceup {
	float: left; /* is this correct? probably needs more */
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: #666666;
	margin: 5px;
}

#memorygame td.matched {
	float: left; /* is this correct? probably needs more */
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: #3E3E3E;
	margin: 5px;
}