<html>
<head>
	<meta charset="utf8">
	<link rel='stylesheet' type='text/css' href='memory-gui.css'>
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
	<script type="text/javascript" src="memory-game.js"></script>
	<script type="text/javascript" src="memory-gui.js"></script>
	<script type="text/javascript" src="memory-cards.js"></script>
	<script type="text/javascript" src="memory-main.js"></script>
	
</head>
<body>
	<script src="jquery-2.1.1.js"></script>
	<div id='memorygame'></div>
</body>
</html>
