/* CSS for GUI...*/

#memorygame .newrow{

}

#memorygame cell {
	float: left;
	display: inline-block;
	width: 100%;
}

#memorygame cell.facedown {
	width: 80px;
	height: 95px;
	border: 1px solid black;
	background: grey;
	margin: 10px;
	border-radius: 5px;
}

#memorygame cell.faceup {
	width: 80px;
	height: 95px;
	border: 1px solid black;
	background: purple;
	margin: 10px;
	border-radius: 5px;
}

#memorygame cell.matched {
	visibility: hidden;
}