/* CSS for GUI...*/

#memorygame .newrow{

}

#memorygame cell {
	float: left;
	display: inline-block;
	width: 100%;
}

/*#memorygame div.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
*/
#memorygame cell.facedown {
	width: 80px;
	height: 95px;
	border: 1px solid black;
	background: grey;
	margin: 10px;
	border-radius: 5px;
}

#memorygame cell.faceup {
	width: 80px;
	height: 95px;
	border: 1px solid black;
	background: purple;
	margin: 10px;
	border-radius: 5px;
}

#memorygame cell.missing {
	visibility: hidden;
}

button {
	clear:both;
    border: 1px;
    color: black;
    font-size: 15px;
    width: 60px;
    margin: 10px;
}
button:hover {
  color: #333;
}

