/* CSS for GUI...*/

#gameboard {
	/* ... */
	background: lightblue;
	padding: 50px;
	margin: auto;
	position: absolute;
	max-width: 1000px;
}

#gameboard div {
	height: 100px;
	width: 100px;
	border: 2px solid black;
	display: block;
	float: left;
	margin: 5px;
	padding: auto;
}

#resetButton {
	position: relative;
}

.face-down {
	background: purple;
}

.face-up:before {
	content:attr(value);
}

.face-up {
	background: yellow;
}

.matched {
	background: green;
}

