/* CSS for GUI...*/

/*
=== Memory Board header/reset button ===
========================================
*/

#memoryboard {
	display:inline-block;
	text-align:center;
}

/*
=== Reset Button ===
====================
*/

#resetbutton {
	display:inline-block;
	text-align:center;
}

/*
=== Game Board ===
==================
*/

#gametable {
	margin: 0 auto;
}

#gametable td.facedown {
	width:55px;
	height:65px;
	border:1px solid black;
	border-radius:5px;
	background:black;
}

#gametable td.faceup {
	background:none;
	border:none;
	text-align:center;
	margin: 0 auto;
	font-size: 25pt;
	background:tan;
}

#gametable td.matched {
	visibility:hidden;
}

