/* CSS for GUI...*/

/*
=== Game Board ===
==================
*/

#memorygame {
	display:inline-block;
	margin: 0 auto;
	empty-cells:show;
	border-spacing:2px;
	text-align:center;
	font-size:20pt;
}

#gametable .facedown {
	width:35px;
	height:45px;
	border:1px solid black;
	border-radius:5px;
	background:black;
}

#gametable td.faceup {
	background:none;
	border:none;
	text-align:center;
	margin: 0 auto;
	font-size: 20pt;
	background:tan;
}

#gametable td.matched {
	background:red;
}

/*
=== Reset Button ===
====================
*/

#resetbutton::before {
	display: inline-block;
	margin: 0 auto;
	text-align:center;
}

