/* CSS for GUI...*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}.clearfix:after{clear:both;}

/*
=== html, body, & p ===
===================
*/

html {
	background-color: #666666;
	margin: 0 auto;
}

body {
	width: 510px;
	margin: 0 auto;
}

p {
	background-color: #696969;
	margin: 15px auto;
	text-align: center;
	font-size: 40px;
	font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
	box-shadow: 10px 10px 10px 0 rgba(0,0,0,20);
}

/*
=== Memory Board header/reset button ===
========================================
*/

#memorygame {
	display:block;
	text-align:center;
	margin: 0 auto;
}

/*
=== Reset Button ===
====================
*/

#resetbutton {
	clear:both;
	display:block;
	margin: 0 auto;
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,20);
	border: none;
	background-color: #6F6F6F;
}

/*
=== Game Board & Card States ===
================================
*/

#gametable {
	display:block;
	margin: 0 auto;
}

#gametable div.facedown {
	width:78px;
	height:110px;
	border-radius:5px;
	box-shadow: 10px 10px 10px 0 rgba(0,0,0,20);
	background:url(images/blackcardback.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	float:left;
	margin: 12px;
	transition: background-color 1s ease,
				text 1s ease,
				text-shadow 1s ease;
}

#gametable div.facedown span {
	display:block;
	width:100%;
	text-align:center;
	margin-top: 48%;
}

#gametable div.faceup {
	background:none;
	text-align:center;
	font-size: 28pt;
	background: #8C8C8C;
	text-shadow: 2px 2px #5E5E5E;
}

#gametable div.matched {
	background-color:transparent;
	box-shadow: none;
}

#gametable div.matched span {
	visibility:hidden;
}





