@font-face {
    font-family: circles;
    src: url(circlethings2.ttf);
}

#memorygame {
	display:inline-block;
	background: #41837C;
	border-radius: 10px;
	padding: 20px;
}

#memorygame .memoryCard {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background-color: #2D3041;
	float: left;
	text-align: center;
	line-height: 150px;
	font-size: 5em;
	margin: 10px;
	font-family: circles;
}

#memorygame .firstCol {
	clear: both;
}

#memorygame .faceup {
	background-color: #CCCCCC;
	color: #2D3041;
}

#memorygame .faceup:before {
	content: attr(value);
}

#memorygame .missing {
	border-color: grey;
	color: grey;
	visibility: hidden;
}

#resetBtn {
	clear: both;
	display: block;
	margin: 15px auto;
	padding: 10px;
	border-radius: 5px;
	font-size: 0.8em;
}
